/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */

header {
    background-color: #0084fd;
    min-height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
main {
    margin-top: 125px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    min-height: 75px;
    align-items: center;
}
li {
    list-style: none;
    display: inline-block;
}
/* .nav {
    display: flex;
    text-align: center;
} */
.nav-item {
    color: white;

}
.alternative-nav {
    display: none;
}
.fa-bars {
    color: white;
}

/***** tablet version ******/

@media screen and (max-width:768px) {
    
    .desktop-nav {
        display: none;
    }
    .alternative-nav {
        display: block;
    }
}
/****** mobile version ******/
/* mantiene le stesse caratteristiche della versione tablet */


/************ MAIN ***********/

/* <!-- SECTION FEATURES --> */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    
}

.card {
    background-color: #b5ddff;
    width: calc( (100% / 3) - 10px);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px;
    /* debug */
    min-height: 100px;
}
.card.big {
    width: calc( (100% / 3) * 2);
    display: flex;
    padding: 20px 0px 0px 20px;
}
.big {

}
.demo-app {
    width: 50%;
}
.demo-app2 {
    width: 50%;
    display: flex;
    align-self: flex-end;
    
}
#img-phone {
    max-width: 200px;
    bottom: 0;
    
}
h2 {
    font-size: 22px;
    color: #0084fd;
    font-weight: unset;
    margin-bottom: 15px;

      
}
p {
    color: #5a6e7f;
    font-size: 16px;
    margin-bottom: 25px;
}
#apple {
    text-decoration: none;
    color: white;
    background-color: #0084fd;
    padding: 8px 35px;
    border-radius: 25px;
}
.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn {
    color: #0084fd;
}
.features {
    text-align: center;
}
.stacco-icon {
    margin-bottom: 20px;
}

/***** tablet version ******/

@media screen and (max-width:768px) {
    .card.big {
        flex-wrap: wrap;
    }
    .demo-app {
        width: 100%;
        z-index: 2;
        /* min-height: 400px; */
    }
    #img-phone {
        margin-top: 15px;
    }
}

/******** mobile version *********/

@media screen and (max-width:480px) {
    
    .container {
        flex-wrap: wrap;
    } 
    .card {
        width: 100%;
    }
    .card.big {
        width: 100%;
    }
   
}

/* SECTION PLANNING  */

.planning-background {
    background-color: #9792e4;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.container-planning {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: flex-end;
    /* debug */
    min-height: 200px;
    /* background-color: #0084fd; */
}
.planning-col {
    width: calc( (100% / 2) - 10px);
    /* debug */
    min-height: 100px;
    /* background-color: #5a6e7f; */
}
.planning-col.right {
    background-color: white;
    border-radius: 35px;
    align-items: flex-end;
}
.container-col-right {
    padding: 25px;
}

.container-imgplanning2 {
    width: 70%;
    margin: 0 auto;
}
#text-planning {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
#lorem-planning {
    color: white;
    font-size: 13px;
    font-weight: lighter;
    line-height: 20px;
}
.img-planning {
    width: 100%;
    margin-bottom: 70px;
}
.img-planning2 {
    width: 100%;
    margin-bottom: 10px;
}

#text-development {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
#lorem-development {
    text-align: center;
    font-size: 13px;
    color: #979595;
    line-height: 20px;
    margin-bottom: 10px;
}
.tag-arrowdown {
    background-color: #9792e4;
    border-radius: 50%;
    width: 30px;
    display: block;
    height: 30px;
    text-align: center;
    color: black;
    padding: 6px;
    margin: 0 auto;
}
#position-arrow {
    text-align: center;
}
/***** tablet version ******/

@media screen and (max-width:768px) {
    .container-planning {
        flex-wrap: wrap;
    }
    
    .planning-col {
        width: 100%;
    }
    #lorem-planning {
        margin-bottom: 20px;
    }
}

/******** mobile version *********/
@media screen and (max-width:480px) {
    #text-planning {
        font-size: 35px;
    }
}

/* SECTION TESTIMONIALS */

.container-testimonial {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.scheda {
    background-color: #9792e4;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    /* debug */
    min-height: 100px;
    margin-bottom: 20px;
}
.container-schede {
    /* background-color: #012c52; */
    display: flex;
    flex-direction: column;

}
#text-testimonial {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.h2-benefits {
    font-size: 30px;
    color: #9792e4;
    margin-bottom: 20px;
}
#lorem-testimonial {
    font-size: 16px;
    font-weight: lighter;
    color: black;
}
.img-testimonial {
    width: 100%;
    border-radius: 50%;
}
.image-left {
    width: 20%;
}
.text-right {
    width: 80%;
    padding: 20px;
}
.name-testimonial {
    text-align: left;
    color: white;
    
}
.description-testimonial {
    text-align: left;
    color: white;
    line-height: 22px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 12px;
}


/******** mobile version *********/
@media screen and (max-width:480px) {
    .scheda {
        flex-wrap: wrap;
    }
    .image-left {
        width: 100%;
    }
}


/* <!-- SECTION BENEFITS --> */


#benefits {
    background-color: #9792e4;
    margin-bottom: 50px;
    padding: 25px 0;
}
#h2-benefits {
    font-size: 30px;
    color: white;
    text-align: center;
}
.container-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.benefits-card {
    width: calc( (100% / 3) - 20px);
    margin-bottom: 20px;
    min-height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}
.n-benefits {
    font-size: 55px;
    color: #9792e4;
}
.feature-benefits {
    font-size: 18px;
    margin-bottom: 10px;
    color: #9792e4;
}
.p-benefits {
    font-size: 14px;
    line-height: 20px;
    color: #6c6c6c;
    font-weight: lighter;
}
.tag-more {
    text-decoration: none;
    color: white;
    background-color: #9792e4;
    padding: 8px 35px;
    border-radius: 25px;
  }

  /***** tablet version ******/
  @media screen and (max-width:768px) {
    .benefits-card {
        width: calc( (100% / 2) - 20px);
    }
  }

  /******** mobile version *********/
  @media screen and (max-width:480px) {
    .benefits-card {
        width: 100%;
    }
  }

/* SECTION ABOUT US */


.container-about {
    display: flex;
    width: 78%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 80px;
}
.col-left-about {
    width: 62%;
}
.col-right-about {
    width: 30%;
}

#about-img {
    width: 65%;
    border-radius: 50%;
}
#h2-about {
    font-size: 40px;
    color: #9792e4;
}
.text-about {
    font-weight: lighter;
    font-size: 14px;
    line-height: 25px;
} 
#descriptio-about {
    font-size: 18px;
    color: #9792e4;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 70px;
}
#tag-linkedin {
    text-decoration: none;
    color: white;
    background-color: #9792e4;
    padding: 8px 14px;
    border-radius: 25px;
    font-size: 12px;
}
.fa-linkedin {
    color: white;
}

/***** tablet version ******/

@media screen and (max-width:768px) {
    #tag-linkedin {
        font-size: 8px;
    }
}

/******** mobile version *********/

@media screen and (max-width:468px) {
    .col-left-about, .col-right-about {
        width: 100%;
    }
    .container-about {
        flex-wrap: wrap;
    }
    #description-about {
        font-size: 23px;
    }
    #tag-linkedin {
        font-size: 14px;
    }
}

/* SECTION GET STARTED */

.section-getstarted {
    background-color: #9792e4;
    padding: 50px 0;
}
.container-getstarted {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
#get-started {
    font-size: 14px;
    color: #cbc9f1;
    margin-bottom: 20px;
}
#h2-getstarted {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
} 
#free {
    font-size: 50px;
    color: #fdc15f;
    font-weight: bold;
    
}
.lorem-getstarted {
    font-weight: lighter;
    font-size: 14px;
    line-height: 25px;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}
#tag-getstarted2 {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 45px;
    border-radius: 25px;
}


/* FOOTER */

footer {
    background-color: #333333;
}
.footer-container {
    width: 40%;
    margin: 0 auto;
}
.footer-text {
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
    padding: 20px;
}